#AddOutputFilterByType DEFLATE text/html text/plain text/xml application/x-javascript text/css text/javascript application/json text/json application/javascript

#LogLevel rewrite:debug
RewriteEngine On
RewriteBase /

RewriteRule ^alsop-high-school$ /school/index/name/alsop-high-school [R=302,L]
RewriteRule ^archbishop-beck-catholic-college$ /school/index/name/archbishop-beck-catholic-college [R=302,L]
RewriteRule ^arnot-st-mary-c-of-e-primary-school$ /school/index/name/arnot-st-mary-c-of-e-primary-school [R=302,L]
RewriteRule ^auckland-college-lower-school$ /school/index/name/auckland-college-lower-school [R=302,L]
RewriteRule ^auckland-college-secondary-school$ /school/index/name/auckland-college-secondary-school [R=302,L]
RewriteRule ^barlows-primary-school$ /school/index/name/barlows-primary-school [R=302,L]
RewriteRule ^bellerive-fcj-catholic-college$ /school/index/name/bellerive-fcj-catholic-college [R=302,L]
RewriteRule ^birkenhead-high-school-academy$ /school/index/name/birkenhead-high-school-academy [R=302,L]
RewriteRule ^broadgreen-international-school$ /school/index/name/broadgreen-international-school [R=302,L]
RewriteRule ^broadgreen-primary-school$ /school/index/name/broadgreen-primary-school [R=302,L]
RewriteRule ^calderstones-school$ /school/index/name/calderstones-school [R=302,L]
RewriteRule ^cardinal-heenan-catholic-high-school$ /school/index/name/cardinal-heenan-catholic-high-school [R=302,L]
RewriteRule ^cavendish-high-school$ /school/index/name/cavendish-high-school [R=302,L]
RewriteRule ^christian-fellowship-middle-school$ /school/index/name/christian-fellowship-middle-school [R=302,L]
RewriteRule ^christian-fellowship-upper-school$ /school/index/name/christian-fellowship-upper-school [R=302,L]
RewriteRule ^de-la-salle-school-st-helens$ /school/index/name/de-la-salle-school-st-helens [R=302,L]
RewriteRule ^gateacre-school$ /school/index/name/gateacre-school [R=302,L]
RewriteRule ^greenbank-high-school$ /school/index/name/greenbank-high-school [R=302,L]
RewriteRule ^hillside-high-school$ /school/index/name/hillside-high-school [R=302,L]
RewriteRule ^holly-lodge-girls-college$ /school/index/name/holly-lodge-girls-college [R=302,L]
RewriteRule ^holy-family-catholic-high-school$ /school/index/name/holy-family-catholic-high-school [R=302,L]
RewriteRule ^hope-school$ /school/index/name/hope-school [R=302,L]
RewriteRule ^merchant-taylors-boys-school$ /school/index/name/merchant-taylors-boys-school [R=302,L]
RewriteRule ^ormiston-bolingbroke-academy$ /school/index/name/ormiston-bolingbroke-academy [R=302,L]
RewriteRule ^rainford-ce-primary-school$ /school/index/name/rainford-ce-primary-school [R=302,L]
RewriteRule ^rainhill-high-school$ /school/index/name/rainhill-high-school [R=302,L]
RewriteRule ^range-high-school$ /school/index/name/range-high-school [R=302,L]
RewriteRule ^saints-peter-and-paul-catholic-primary-school$ /school/index/name/saints-peter-and-paul-catholic-primary-school [R=302,L]
RewriteRule ^st-augustine-of-canterbury-catholic-high$ /school/index/name/st-augustine-of-canterbury-catholic-high [R=302,L]
RewriteRule ^st-chads-catholic-and-church-of-england-high-schoo$ /school/index/name/st-chads-catholic-and-church-of-england-high-schoo [R=302,L]
RewriteRule ^st-hildas-ce-school$ /school/index/name/st-hildas-ce-school [R=302,L]
RewriteRule ^st-john-bosco-arts-college$ /school/index/name/st-john-bosco-arts-college [R=302,L]
RewriteRule ^st-julies-catholic-high-school$ /school/index/name/st-julies-catholic-high-school [R=302,L]
RewriteRule ^st-margarets-c-of-e-academy$ /school/index/name/st-margarets-c-of-e-academy [R=302,L]
RewriteRule ^st-marys-catholic-college$ /school/index/name/st-marys-catholic-college [R=302,L]
RewriteRule ^st-matthews-primary-school$ /school/index/name/st-matthews-primary-school [R=302,L]
RewriteRule ^st-michael-and-all-angels-primary-school$ /school/index/name/st-michael-and-all-angels-primary-school [R=302,L]
RewriteRule ^the-belvedere-academy$ /school/index/name/the-belvedere-academy [R=302,L]
RewriteRule ^the-blue-coat-school$ /school/index/name/the-blue-coat-school [R=302,L]
RewriteRule ^the-heath-school$ /school/index/name/the-heath-school [R=302,L]
RewriteRule ^the-oldershaw-academy$ /school/index/name/the-oldershaw-academy [R=302,L]
RewriteRule ^wade-deacon-high-school$ /school/index/name/wade-deacon-high-school [R=302,L]
RewriteRule ^west-derby-school$ /school/index/name/west-derby-school [R=302,L]
RewriteRule ^west-kirby-residential-school$ /school/index/name/west-kirby-residential-school [R=302,L]
RewriteRule ^weston-primary-school$ /school/index/name/weston-primary-school [R=302,L]
RewriteRule ^whitefield-primary-school$ /school/index/name/whitefield-primary-school [R=302,L]

SetEnv APPLICATION_ENV development

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
