#AddOutputFilterByType DEFLATE text/html text/plain text/xml application/x-javascript text/css text/javascript application/json text/json application/javascript

#LogLevel rewrite:debug
RewriteEngine On
RewriteBase /

RewriteRule ^votenow$ /schools [R=302,L]

# 2015 schools:
RewriteRule ^alsop-high-school$ /school/index/name/alsop-high-school [R=302,L]
RewriteRule ^archbishop-beck-catholic-college$ /school/index/name/archbishop-beck-catholic-college [R=302,L]
RewriteRule ^archbishop-blanch-school$ /school/index/name/archbishop-blanch-school [R=302,L]
RewriteRule ^arnot-st-mary-c-of-e-primary-school$ /school/index/name/arnot-st-mary-c-of-e-primary-school [R=302,L]
RewriteRule ^barlows-primary-school$ /school/index/name/barlows-primary-school [R=302,L]
RewriteRule ^bellerive-fcj-catholic-college$ /school/index/name/bellerive-fcj-catholic-college [R=302,L]
RewriteRule ^broadgreen-international-school$ /school/index/name/broadgreen-international-school [R=302,L]
RewriteRule ^broadgreen-primary-school$ /school/index/name/broadgreen-primary-school [R=302,L]
RewriteRule ^broughton-hall-high-school$ /school/index/name/broughton-hall-high-school [R=302,L]
RewriteRule ^cardinal-heenan-catholic-high-school$ /school/index/name/cardinal-heenan-catholic-high-school [R=302,L]
RewriteRule ^cavendish-high-school$ /school/index/name/cavendish-high-school [R=302,L]
RewriteRule ^childwall-academy$ /school/index/name/childwall-academy [R=302,L]
RewriteRule ^gateacre-school$ /school/index/name/gateacre-school [R=302,L]
RewriteRule ^greenbank-high-school$ /school/index/name/greenbank-high-school [R=302,L]
RewriteRule ^gwladys-st-primary-school$ /school/index/name/gwladys-st-primary-school [R=302,L]
RewriteRule ^hillside-high-school$ /school/index/name/hillside-high-school [R=302,L]
RewriteRule ^holy-family-catholic-high-school$ /school/index/name/holy-family-catholic-high-school [R=302,L]
RewriteRule ^hope-school$ /school/index/name/hope-school [R=302,L]
RewriteRule ^leamington-primary-school$ /school/index/name/leamington-primary-school [R=302,L]
RewriteRule ^liverpool-college$ /school/index/name/liverpool-college [R=302,L]
RewriteRule ^maghull-high-school$ /school/index/name/maghull-high-school [R=302,L]
RewriteRule ^maricourt-high-school$ /school/index/name/maricourt-high-school [R=302,L]
RewriteRule ^merton-bank-primary-school$ /school/index/name/merton-bank-primary-school [R=302,L]
RewriteRule ^much-woolton-primary-school$ /school/index/name/much-woolton-primary-school [R=302,L]
RewriteRule ^neston-high-school$ /school/index/name/neston-high-school [R=302,L]
RewriteRule ^norman-pannell-primary-school$ /school/index/name/norman-pannell-primary-school [R=302,L]
RewriteRule ^ormiston-bolingbroke-academy$ /school/index/name/ormiston-bolingbroke-academy [R=302,L]
RewriteRule ^parish-c-e-primary-school$ /school/index/name/parish-c-e-primary-school [R=302,L]
RewriteRule ^rainhill-high-school$ /school/index/name/rainhill-high-school [R=302,L]
RewriteRule ^springwood-heath-primary-school$ /school/index/name/springwood-heath-primary-school [R=302,L]
RewriteRule ^st-augustine-of-canterbury-catholic-high$ /school/index/name/st-augustine-of-canterbury-catholic-high [R=302,L]
RewriteRule ^st-chads-catholic-and-church-of-england-high-school$ /school/index/name/st-chads-catholic-and-church-of-england-high-school [R=302,L]
RewriteRule ^st-cuthberts-primary-school$ /school/index/name/st-cuthberts-primary-school [R=302,L]
RewriteRule ^st-gregorys-high-school$ /school/index/name/st-gregorys-high-school [R=302,L]
RewriteRule ^st-hildas-ce-school$ /school/index/name/st-hildas-ce-school [R=302,L]
RewriteRule ^st-john-bosco-arts-college$ /school/index/name/st-john-bosco-arts-college [R=302,L]
RewriteRule ^st-julies-catholic-high-school$ /school/index/name/st-julies-catholic-high-school [R=302,L]
RewriteRule ^st-margarets-c-of-e-academy$ /school/index/name/st-margarets-c-of-e-academy [R=302,L]
RewriteRule ^st-marys-catholic-college$ /school/index/name/st-marys-catholic-college [R=302,L]
RewriteRule ^st-marys-college$ /school/index/name/st-marys-college [R=302,L]
RewriteRule ^st-michael-and-all-angels-primary-school$ /school/index/name/st-michael-and-all-angels-primary-school [R=302,L]
RewriteRule ^st-michaels-catholic-primary-school$ /school/index/name/st-michaels-catholic-primary-school [R=302,L]
RewriteRule ^st-patricks-primary-school$ /school/index/name/st-patricks-primary-school [R=302,L]
RewriteRule ^the-blue-coat-school$ /school/index/name/the-blue-coat-school [R=302,L]
RewriteRule ^the-heath-school$ /school/index/name/the-heath-school [R=302,L]
RewriteRule ^the-oldershaw-academy$ /school/index/name/the-oldershaw-academy [R=302,L]
RewriteRule ^weatherhead-high-school$ /school/index/name/weatherhead-high-school [R=302,L]
RewriteRule ^west-kirby-residential-school$ /school/index/name/west-kirby-residential-school [R=302,L]

# 2015 schools (with /school prefix):
RewriteRule ^school/alsop-high-school$ /school/index/name/alsop-high-school [R=302,L]
RewriteRule ^school/archbishop-beck-catholic-college$ /school/index/name/archbishop-beck-catholic-college [R=302,L]
RewriteRule ^school/archbishop-blanch-school$ /school/index/name/archbishop-blanch-school [R=302,L]
RewriteRule ^school/arnot-st-mary-c-of-e-primary-school$ /school/index/name/arnot-st-mary-c-of-e-primary-school [R=302,L]
RewriteRule ^school/barlows-primary-school$ /school/index/name/barlows-primary-school [R=302,L]
RewriteRule ^school/bellerive-fcj-catholic-college$ /school/index/name/bellerive-fcj-catholic-college [R=302,L]
RewriteRule ^school/broadgreen-international-school$ /school/index/name/broadgreen-international-school [R=302,L]
RewriteRule ^school/broadgreen-primary-school$ /school/index/name/broadgreen-primary-school [R=302,L]
RewriteRule ^school/broughton-hall-high-school$ /school/index/name/broughton-hall-high-school [R=302,L]
RewriteRule ^school/cardinal-heenan-catholic-high-school$ /school/index/name/cardinal-heenan-catholic-high-school [R=302,L]
RewriteRule ^school/cavendish-high-school$ /school/index/name/cavendish-high-school [R=302,L]
RewriteRule ^school/childwall-academy$ /school/index/name/childwall-academy [R=302,L]
RewriteRule ^school/gateacre-school$ /school/index/name/gateacre-school [R=302,L]
RewriteRule ^school/greenbank-high-school$ /school/index/name/greenbank-high-school [R=302,L]
RewriteRule ^school/gwladys-st-primary-school$ /school/index/name/gwladys-st-primary-school [R=302,L]
RewriteRule ^school/hillside-high-school$ /school/index/name/hillside-high-school [R=302,L]
RewriteRule ^school/holy-family-catholic-high-school$ /school/index/name/holy-family-catholic-high-school [R=302,L]
RewriteRule ^school/hope-school$ /school/index/name/hope-school [R=302,L]
RewriteRule ^school/leamington-primary-school$ /school/index/name/leamington-primary-school [R=302,L]
RewriteRule ^school/liverpool-college$ /school/index/name/liverpool-college [R=302,L]
RewriteRule ^school/maghull-high-school$ /school/index/name/maghull-high-school [R=302,L]
RewriteRule ^school/maricourt-high-school$ /school/index/name/maricourt-high-school [R=302,L]
RewriteRule ^school/merton-bank-primary-school$ /school/index/name/merton-bank-primary-school [R=302,L]
RewriteRule ^school/much-woolton-primary-school$ /school/index/name/much-woolton-primary-school [R=302,L]
RewriteRule ^school/neston-high-school$ /school/index/name/neston-high-school [R=302,L]
RewriteRule ^school/norman-pannell-primary-school$ /school/index/name/norman-pannell-primary-school [R=302,L]
RewriteRule ^school/ormiston-bolingbroke-academy$ /school/index/name/ormiston-bolingbroke-academy [R=302,L]
RewriteRule ^school/parish-c-e-primary-school$ /school/index/name/parish-c-e-primary-school [R=302,L]
RewriteRule ^school/rainhill-high-school$ /school/index/name/rainhill-high-school [R=302,L]
RewriteRule ^school/springwood-heath-primary-school$ /school/index/name/springwood-heath-primary-school [R=302,L]
RewriteRule ^school/st-augustine-of-canterbury-catholic-high$ /school/index/name/st-augustine-of-canterbury-catholic-high [R=302,L]
RewriteRule ^school/st-chads-catholic-and-church-of-england-high-school$ /school/index/name/st-chads-catholic-and-church-of-england-high-school [R=302,L]
RewriteRule ^school/st-cuthberts-primary-school$ /school/index/name/st-cuthberts-primary-school [R=302,L]
RewriteRule ^chool/st-gregorys-high-school$ /school/index/name/st-gregorys-high-school [R=302,L]
RewriteRule ^school/st-hildas-ce-school$ /school/index/name/st-hildas-ce-school [R=302,L]
RewriteRule ^school/st-john-bosco-arts-college$ /school/index/name/st-john-bosco-arts-college [R=302,L]
RewriteRule ^school/st-julies-catholic-high-school$ /school/index/name/st-julies-catholic-high-school [R=302,L]
RewriteRule ^school/st-margarets-c-of-e-academy$ /school/index/name/st-margarets-c-of-e-academy [R=302,L]
RewriteRule ^school/st-marys-catholic-college$ /school/index/name/st-marys-catholic-college [R=302,L]
RewriteRule ^school/st-marys-college$ /school/index/name/st-marys-college [R=302,L]
RewriteRule ^school/st-michael-and-all-angels-primary-school$ /school/index/name/st-michael-and-all-angels-primary-school [R=302,L]
RewriteRule ^school/st-michaels-catholic-primary-school$ /school/index/name/st-michaels-catholic-primary-school [R=302,L]
RewriteRule ^school/st-patricks-primary-school$ /school/index/name/st-patricks-primary-school [R=302,L]
RewriteRule ^school/the-blue-coat-school$ /school/index/name/the-blue-coat-school [R=302,L]
RewriteRule ^school/the-heath-school$ /school/index/name/the-heath-school [R=302,L]
RewriteRule ^school/the-oldershaw-academy$ /school/index/name/the-oldershaw-academy [R=302,L]
RewriteRule ^school/weatherhead-high-school$ /school/index/name/weatherhead-high-school [R=302,L]
RewriteRule ^school/west-kirby-residential-school$ /school/index/name/west-kirby-residential-school [R=302,L]

SetEnv APPLICATION_ENV development

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
